<div class="d-flex">


<div class="bg-dark border-right p-3" id="sidebar">
<h3 class="text-light">
  Giff- apps
</h3>
<hr class="text-white">


<div class="list-group list-reset">
<a href="#"
class="list-group-item list-group-item-action">
  dasboard
</a>
</div>
</div>

<div class="container">

Buscar:


<div class="row" p3>
<div class="col">
<h5>
  <input type="text" class="form-control" placeholder="Buscar gifs">

</h5>
</div>
</div>
<hr>
<div class="row"></div>
<div class="col">lorem ipsum es el texto que se usa habitualmente en diseño gráfico o de moda en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final. Wikipedia</div>
</div>